@import 'stats';
@import 'art/skull';

$c1: black;
$c2: darkGrey;
$c3: black;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  &.body--skull {
    background: $c1;
    text-align: center;
    
  }
}
